body {
  font-family: 'Helvetica', sans-serif;
}

.oneBuilding {
  margin: 5px;
}

.buildings {
  margin-left: 10%;
}

.buildings span {
  padding: .25em;
  border-radius: 2px;
}

.buildings span:hover {
  cursor: pointer;
  background: #9467bd;
}

svg {
  border: 1px solid black;
}

.search {
  width: 25%;
  margin: auto;
}

.userRisk {
  width: 25%;
  margin: auto;
  text-align: center;
}

.title {
  text-align: center;
}

.md-content {
  text-align: center;
}

.randButton {
  text-align: center;
}

.d3Container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


